move_down           j
move_up             k
move_left           h
move_right          l
next_page           <C-d>
previous_page       <C-u>
screen_down         <space>
screen_up           <S-space>
goto_toc            t
zoom_in             +
zoom_out            -
fit_to_screen_width w
add_highlight       i
goto_mark           '

# --- Missing Essentials ---
command             :
command_palette     <C-p>
toggle_dark_mode    <C-r>
toggle_custom_color <F8>
quit                q
